.body {
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: #222;
    height: 100%;
    padding: 0;
    margin: 0;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.top-navigation {
    display: flex;
    padding: 6px;
    height: 60px;
    box-sizing: border-box;
    align-items: center;
}

.about {
    padding: 5px;
    margin: 0 5px 0 15px;
}

.store {
    padding: 5px;
    margin: 0 5px;
}

.nav-format{
    color: #222;
    text-decoration: none;
}

.link:hover{
    text-decoration: underline;
}

.top-navigation-right {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.gmail, .images {
    padding-right: 15px;
}

.google-apps1 {
    height: 40px;
    width: 40px;
    box-sizing: border-box;
}

.google-apps1:hover, .github-profile:hover{
    border-radius: 50%;
    background-color: rgba(60,64,67,0.08);
}

.google-apps2 {
    fill: #5f6368;
    padding: 8px;
}

.github-profile {
    display: flex;
    box-sizing: border-box;
    padding: 4px;
    margin: 0 8px;
}

.profile-img {
    height: 32px;
    margin: auto;
    box-sizing: border-box;
    border-radius: 50%;
}

.logo-flexbox {
    display: flex;
    min-height: 150px;
    max-height: 290px;
    flex-shrink: 0;
    height: calc(100% - 560px)
}

.google-logo {
    margin: auto auto 0 auto;
    padding-bottom: 15px;
}

.searchbar-flexbox {
    display: flex;
    padding: 20px;
    max-height: 160px;
    box-sizing: border-box;
    justify-content: center;
}

.searchbar {
    display: flex;
    height: 44px;
    width: auto;
    max-width: 584px;
    min-width: 0;
    margin: 6px auto 0;
    border-radius: 22px;
    border: 1px solid #dfe1e5;
    
}

.searchbar:hover {
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
    border-color: rgba(223, 225, 229, 0);
}

.search {
    display: flex;
    flex: 1;
    padding: 10px 8px 10px 14px;
    min-width: 0;
    
}

.search-icon {
    width: auto;
    padding-right: 6px;
}

.search-input {
    flex: 1;
    border: 0px solid transparent;

}

.search-input:focus {
    outline: none;
}

.buttons-flexbox {
    display: flex;

}

.buttons {
    display: flex;
    height: 70px;
    padding-top: 10px;
    align-items: flex-start;
    margin: 0 auto;
}

.google-search, .im-feeling-lucky {
    border: 1px solid #f8f9fa;
    height: 36px;
    min-width: 54px;
    padding: 0 16px;
    margin: 0 5px 2px;
    background: #f8f9fa;
    border-radius: 4px;
    font: inherit;
    color: #202124;
    cursor: pointer;

}

.google-search:hover, .im-feeling-lucky:hover {
    border: 1px solid #dadce0;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
} 

.bot-nav-format {
    color: #70757a;
    text-decoration: none;
}

.bot-navigation {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    align-items: center;
    padding: 0 20px;
    background: #f2f2f2;
    border-top: 1px solid #dadce0;
}

.bot-navigation-left {
    display: flex;
    height: 44px;
}

.how-search-works {
    text-align: center;
}

.advertising, .business, .how-search-works {
    padding: 15px;

}

.bot-navigation-middle {
    display: flex;
    height: 44px;
    align-items: center;
}

.leaf-icon {
    height: 14px;
    margin-right: 2px;
}

.carbon-neutral {

}

.bot-navigation-right {
    display: flex;
    height: 44px;
}

.privacy, .terms, .settings {
    padding: 15px;
}

@media only screen and (max-width: 1000px) {
    .bot-navigation {
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .bot-navigation-middle {
        order: 1;
        width: 100%;
        justify-content: center;
    }

    .bot-navigation-left {
        order: 2;
        padding: 0 40px;
    }

    .bot-navigation-right {
        order: 3;
        padding: 0 40px;
    }

}
